.skin-black .main-header .navbar {
    background-color: #000000 !important;
}

.skin-black .main-header>.logo {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}



.logo {
  color: #FFFFFF !important;
}

.sidebar-toggle {
  background-color: #acaeaf !important; 
}

.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
  background-color: #acaeaf !important;
}

.sidebar {
  color: #000000 !important;
}

.div-link {
  color: #000000  !important;
}

.small-box {
  border-radius: 30px !important;
}

.icon-large{
  color:rgb(231 228 228 / 15%)  !important;
}
.box-title {
        font-size: 24px; /* Tamanho padrão da fonte */
      }
      

      
@media (max-width: 600px) {
        .box-title {
          font-size: 18px; /* Ajuste de tamanho para telas menores */
        }
      }
      

@media (min-width: 1200px) {
        .box-title {
          font-size: 36px; /* Ajuste de tamanho para telas maiores */
        }
      }